
.d{
    width: 1350px;
    height: 630px;
    background-color: rgb(255, 254, 253);
    border-radius: 20px;


}
.d1{
    width:1250px ;
    height: 60px;
    border: 2px solid rgb(204, 9, 9);
    border-radius: 5px;
    /* border-image: linear-gradient(to right, rgb(224, 7, 7), rgb(199, 8, 8), rgb(204, 4, 4)) 1; */
    margin-left: 50px;
    
}
#h{
    margin-left: 30px;
    
}
#s{
    color: hwb(327 3% 38%);
}
#s1{
    color: rgb(177, 40, 47);
}
#s2{
    color: rgb(187, 118, 29);
}   
.d2{
    /* margin-left: 0px; */
    margin-top: -50px;
    /* /* flex-direction: row; */
    display: flex; 
    margin-left: 150px;
    
    /* padding: -300px; */
}
.p2 , .p5 ,.p3, .p4{
  margin-left: 100px;
}
.p5 ,.p3, .p4{
    color: rgb(145, 156, 167);
  }
.d3{
    width: 110px;
    height: 30px;
    color: white;
    background-image: linear-gradient(to right, rgb(82, 62, 82),rgb(175, 9, 139),rgb(240, 124, 15));
    border-radius: 50px;
    text-align: center;
    /* padding: 5px; */
    margin-left:1090px;
    font-size: small;
    margin-top: -60px;

}
.p1{
    padding: 6px;
}
.d4{
    width: 1250px;
    height: 500px;
    border: 2px solid rgb(204, 9, 9);
    border-radius: 5px;
    /* border-image: linear-gradient(to right, rgb(224, 7, 7), rgb(199, 8, 8), rgb(204, 4, 4)) 1; */
    margin-left: 50px;
    
}
.h2{
    margin-top: 100px;
    margin-left: 70px;
}
 .p6{
    margin-left: 70px;
    font-size: large;
    color: rgb(157, 162, 167);
}
.i{
    float: right;
    margin-top: -270px;
}
.d7{
    width: 170px;
    height: 30px;
    border: 1px solid rgb(230, 227, 227);
    border-radius: 20px;
    margin-left: 70px;
    
}
.img1{
    width: 20px;
    margin-top: 5px;
    /* justify-content: flex-start; */
    margin-left: 10px;
    
}
.p7{
    margin-left: 50px;
    float: left;
    margin-top: -22px;

}
.d8{
    width:1250px ;
    height: 60px;
    border: 2px solid rgb(204, 9, 9);
    border-radius: 5px;
    margin-left: 50px;
    margin-top: -65px;
}
.img2 {
    margin-top: 10px;
    margin-right: 700px;
    float: left;

}
.img3{
margin-left: -650px; 
margin-top: 10px;
}
.img4{
    margin-left: 60px;
}